body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url(header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr
{
border:solid 5px black;
width: 50%;
color: #FFFF00;
height: 1px;

}

h1{
color: whitesmoke;
margin: 0 auto;
font-size: 60px;

}

.buffer{
  height: 10rem;